<h2>Part 1 - Extract and Transform</h2>

In [156]:
import json
import requests
import pandas as pd
import matplotlib.pyplot as plt

In [188]:
# call api request to get json data
resp = requests.get('https://maps2.bristol.gov.uk/server2/rest/services/ext/air_quality/MapServer/0/query?outFields=*&where=1%3D1&f=geojson')

# convert to response as python
air_quality_data = resp.json()

<h3>1. Retrieve data from the API (ETL with Python)</h3>

In [189]:
# write to new file
with open("air_quality_data.json","w") as outfile:
    json.dump(air_quality_data, outfile, indent=4)

<h3>2. Data Transformation (Software Testing & QA) </h3>

In [ ]:
# write to new file
with open("air_quality_data.json","w") as outfile:
    # loop through the rows
    for row in air_quality_data['features']:
        # create new column in line with rest of columns for coordinates 
        row[u'longitude']=row[u'geometry'][u'coordinates'][0]
        row[u'latitude']=row[u'geometry'][u'coordinates'][1]
        # create new columns for each row in properties dictionary
        for column in row['properties']:
            row[column]=row[u'properties'][column]
        # delete the geometry & properties dictionaries
        del row[u'geometry']
        del row[u'properties']

    json.dump(air_quality_data, outfile, indent=4)

In [ ]:
# WITHOUT JSON DUMP - will delete when finishing

# loop through the rows
for row in air_quality_data['features']:
    # create new column in line with rest of columns for coordinates 
    row[u'longitude']=row[u'geometry'][u'coordinates'][0]
    row[u'latitude']=row[u'geometry'][u'coordinates'][1]
    # create new columns for each row in properties dictionary
    for column in row['properties']:
        row[column]=row[u'properties'][column]
    # delete the geometry & properties dictionaries
    #del row[u'geometry']
    #del row[u'properties']

In [191]:
# create pandas dataframe
features_df = pd.DataFrame(air_quality_data['features'])

# describe the dataframes
features_df.describe()

,id,longitude,latitude,OBJECTID,SiteID,Easting,Northing,InstrumentID,tube_kerb,rec_kerb,Tube_Height,Elevation,Grid_ID,RouteSequenceID,DateStart,DateEnd,Colocated,obstruction_m,junction_m
count,700.00000,700.000000,700.000000,700.00000,700.000000,700.000000,700.000000,700.000000,322.000000,321.000000,332.000000,687.000000,596.000000,93.0,1.670000e+02,1.000000e+01,8.00000,201.000000,201.000000
mean,350.50000,-2.596000,51.463203,350.50000,357.857143,358692.705714,173972.308571,1.187143,3.440062,18.295639,2.371084,25.848908,57.243289,0.0,1.573555e+12,1.301988e+12,409.50000,2.308458,98.970149
std,202.21688,0.043134,0.027309,202.21688,205.861016,2987.707553,3045.318301,0.766319,7.198700,33.199122,0.449916,23.863167,27.861715,0.0,1.573320e+11,1.707026e+11,164.78124,2.185035,91.091378
min,1.00000,-2.841915,51.386765,1.00000,1.000000,341567.000000,165538.000000,1.000000,0.000000,0.000000,1.500000,-3.800000,0.000000,0.0,8.843904e+11,9.497952e+11,203.00000,1.000000,1.000000
25%,175.75000,-2.605547,51.446782,175.75000,178.750000,358014.000000,172138.750000,1.000000,1.000000,3.000000,2.000000,9.500000,41.750000,0.0,1.609718e+12,1.258222e+12,256.25000,1.000000,32.000000
50%,350.50000,-2.589323,51.457948,350.50000,360.500000,359142.500000,173375.000000,1.000000,2.000000,6.000000,2.400000,15.000000,56.000000,0.0,1.609718e+12,1.357258e+12,457.50000,1.000000,75.000000
75%,525.25000,-2.572071,51.475393,525.25000,536.250000,360350.000000,175316.000000,1.000000,3.000000,11.700000,2.500000,36.650000,67.000000,0.0,1.609718e+12,1.431799e+12,500.25000,3.000000,145.000000
max,700.00000,-2.366796,51.617494,700.00000,711.000000,374636.000000,191132.000000,10.000000,100.000000,222.000000,6.000000,228.200000,144.000000,0.0,1.722470e+12,1.451520e+12,672.00000,15.000000,540.000000

In [192]:
# checking 5 values from the dataframe
features_df.head(5)

,type,id,longitude,latitude,OBJECTID,siteNo,location,SiteID,Easting,Northing,...,RouteSequenceID,Description,DateStart,DateEnd,Colocated,Duplicate_Triplicate,obstruction_m,obstruction_lt,inlet_flow_clear,junction_m
0,Feature,1,-2.627749,51.407746,1,1,Withywood School,1,356434,167823,...,NaN,,NaN,NaN,NaN,,NaN,No,No,NaN
1,Feature,2,-2.596814,51.454557,2,B1,Colston Avenue,2,358628,173011,...,NaN,,NaN,NaN,NaN,,2.0,No,Yes,1.0
2,Feature,3,-2.613994,51.469205,3,B10,Blackboy Hill,3,357448,174650,...,NaN,,NaN,NaN,NaN,,1.0,Yes,No,32.0
3,Feature,4,-2.578333,51.444210,4,B11,Three Lamps,4,359903,171850,...,NaN,,NaN,NaN,NaN,,4.0,No,Yes,1.0
4,Feature,5,-2.595294,51.442812,5,B12,Bedminster Parade,5,358723,171704,...,NaN,,NaN,NaN,NaN,,1.0,Yes,No,96.0

In [210]:
# finding max/min values for latitude and longitude
max_long = features_df['longitude'].max()
min_long = features_df['longitude'].min()
max_lat = features_df['latitude'].max()
min_lat = features_df['latitude'].min()

print('The minimum value for Longitude is: ', max_long)
print('The maximum value for Longitude is: ', min_long)

print('The minimum value for Latitude is: ', max_lat)
print('The maximum value for Latitude is: ', min_lat)

The minimum value for Longitude is:  -2.366795987602053
The maximum value for Longitude is:  -2.841914759125154
The minimum value for Latitude is:  51.61749401500854
The maximum value for Latitude is:  51.38676459040267

In [ ]:
def normalise(column, max, min):
        # normalise column for negative entry
        if column < 0:
            (column - min) / (max - min)
        # normalise column for positive entry
        else:
            column / max

In [222]:
# normalise column for positive entry
features_df['Latitude (Normalised)'] = features_df['latitude'] / max_lat

# normalise column for negative entry
features_df['Longitude (Normalised)'] = (features_df['longitude']-min_long) / (max_long-min_long)

features_df

,type,id,longitude,latitude,OBJECTID,siteNo,location,SiteID,Easting,Northing,...,DateStart,DateEnd,Colocated,Duplicate_Triplicate,obstruction_m,obstruction_lt,inlet_flow_clear,junction_m,Latitude (Normalised),Longitude (Normalised)
0,Feature,1,-2.627749,51.407746,1,1,Withywood School,1,356434,167823,...,NaN,NaN,NaN,,NaN,No,No,NaN,0.995936,0.450763
1,Feature,2,-2.596814,51.454557,2,B1,Colston Avenue,2,358628,173011,...,NaN,NaN,NaN,,2.0,No,Yes,1.0,0.996843,0.515873
2,Feature,3,-2.613994,51.469205,3,B10,Blackboy Hill,3,357448,174650,...,NaN,NaN,NaN,,1.0,Yes,No,32.0,0.997127,0.479713
3,Feature,4,-2.578333,51.444210,4,B11,Three Lamps,4,359903,171850,...,NaN,NaN,NaN,,4.0,No,Yes,1.0,0.996643,0.554769
4,Feature,5,-2.595294,51.442812,5,B12,Bedminster Parade,5,358723,171704,...,NaN,NaN,NaN,,1.0,Yes,No,96.0,0.996616,0.519071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Feature,696,-2.527912,51.465290,696,None,Rodney Road junction with Whiteway Road,707,363424,174168,...,1.722384e+12,NaN,NaN,None,NaN,None,None,NaN,0.997051,0.660892
696,Feature,697,-2.535671,51.461542,697,None,Whiteway Road junction with A420,708,362882,173755,...,1.722470e+12,NaN,NaN,None,NaN,None,None,NaN,0.996979,0.644563
697,Feature,698,-2.530569,51.458571,698,None,Air Balloon Hill Primary School,709,363234,173422,...,1.722384e+12,NaN,NaN,None,NaN,None,None,NaN,0.996921,0.655300
698,Feature,699,-2.525999,51.454194,699,None,Nags Head Hill,710,363548,172933,...,1.722384e+12,NaN,NaN,None,NaN,None,None,NaN,0.996836,0.664919
699,Feature,700,-2.564440,51.454070,700,None,Barton Hill Academy,711,360877,172939,...,1.722384e+12,NaN,NaN,None,NaN,None,None,NaN,0.996834,0.584012

In [229]:
# normalise column for positive entry
features_df['Latitude (Normalised)'] = features_df['latitude'].apply(normalise(features_df['latitude'], max_lat, min_lat))

# normalise column for negative entry
#features_df['Longitude (Normalised)'] = normalise(features_df['longitude'])

features_df

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
for column in features_df:    
    # normalise column for positive entry
    features_df['Latitude (Normalised)'] = normalise(features_df['latitude'])

    # normalise column for negative entry
    features_df['Longitude (Normalised)'] = normalise(features_df['longitude'])

features_df

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

<h3>3. Data Processing</h3>

In [ ]:
if features_df

# dropping any column with high amounts of null values
features_df.drop(columns=['type', 'longitude', 'latitude', 'SiteID', 'Easting', 'Northing','Tube_Height', 'Elevation', 'Grid_ID', 'LAQM_Localclass', 'Survey','obstruction_It', 'inlet_flow_clear','RouteID','RouteSequenceID','Description','DateStart','DateEnd','Colocated','Duplicate_Triplicate','obstruction_m','junction_m'])

,type,id,longitude,latitude,OBJECTID,siteNo,location,SiteID,Easting,Northing,...,Tube_Height,Elevation,Grid_ID,LocationClass,LAQM_Locationclass,Survey,obstruction_lt,inlet_flow_clear,Latitude (Normalised),Longitude (Normalised)
0,Feature,1,-2.627749,51.407746,1,1,Withywood School,1,356434,167823,...,NaN,NaN,NaN,Urban Traffic,Roadside,Other (DT),No,No,0.995936,0.450763
1,Feature,2,-2.596814,51.454557,2,B1,Colston Avenue,2,358628,173011,...,2.8,9.5,56.0,Urban Traffic,Roadside,Roadside (DT),No,Yes,0.996843,0.515873
2,Feature,3,-2.613994,51.469205,3,B10,Blackboy Hill,3,357448,174650,...,2.8,79.2,65.0,Urban Traffic,Roadside,Roadside (DT),Yes,No,0.997127,0.479713
3,Feature,4,-2.578333,51.444210,4,B11,Three Lamps,4,359903,171850,...,3.2,26.6,41.0,Urban Traffic,Roadside,Roadside (DT),No,Yes,0.996643,0.554769
4,Feature,5,-2.595294,51.442812,5,B12,Bedminster Parade,5,358723,171704,...,3.2,8.1,40.0,Urban Traffic,Roadside,Roadside (DT),Yes,No,0.996616,0.519071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Feature,696,-2.527912,51.465290,696,None,Rodney Road junction with Whiteway Road,707,363424,174168,...,2.3,NaN,NaN,None,Roadside,None,None,None,0.997051,0.660892
696,Feature,697,-2.535671,51.461542,697,None,Whiteway Road junction with A420,708,362882,173755,...,2.3,NaN,NaN,None,Roadside,None,None,None,0.996979,0.644563
697,Feature,698,-2.530569,51.458571,698,None,Air Balloon Hill Primary School,709,363234,173422,...,2.3,NaN,NaN,None,Roadside,None,None,None,0.996921,0.655300
698,Feature,699,-2.525999,51.454194,699,None,Nags Head Hill,710,363548,172933,...,2.3,NaN,NaN,None,Roadside,None,None,None,0.996836,0.664919
699,Feature,700,-2.564440,51.454070,700,None,Barton Hill Academy,711,360877,172939,...,2.3,NaN,NaN,None,Roadside,None,None,None,0.996834,0.584012